<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h1>Happy Fourth</h1>
  <img src="<%= pictureURL %>" alt="picture of us" onClick="window.location.reload();">
  <form name="rn">
    <button onClick="window.location.reload();">Refresh Page</button>
  </form>
</body>

</html>