<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="main.scss"> -->
</head>

<body>
  <h1>Happy Fourth</h1>
  <form name="rn">
    <h2><%= rand %></h2>
    <button onClick="window.location.reload();">Refresh Page</button>

  </form>
</body>

</html>