<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="./src/index.scss">
</head>

<body>
  <h1 style="text-align:center;">Happy Fourth</h1>
  <img style="width:80%;" src="<%= pictureURL %>" alt="picture of us" onClick="window.location.reload();">
  <form name="rn">
    <button onClick="window.location.reload();">Refresh Page</button>
  </form>
</body>

</html>