<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" type="text/css" href="./src/index.scss"> -->

  <style>
    h1 {
      text-align:center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      max-width: 1000px;
    }

    form {
      text-align: center;
    }

  </style>
</head>



<body>
  <h1>Happy Fourth</h1>
  <img src="<%= pictureURL %>" alt="picture of us" onClick="window.location.reload();">
  <br>
  <form name="rn">
    <button onClick="window.location.reload();">Refresh Page</button>
  </form>
</body>

</html>